<section ng-controller="puzzleGameController">
	<h2>Time left: {{ timeLeft }} (seconds)</h2>
	<label>Here are your letters:<label>
	<div>{{ letters }}</div>
	<input ng-model="solution" value="solution"/>
	<button ng-click="onSubmitSolution()" ng-disabled="gameOver">Submit</button>
	<div ng-show="gameOver">
		<label >You finished the game with the score: {{ userScore }}</label>
		<button ng-click="onViewLeaderboard()">View leaderboard</button>
		<button ng-click="playGame()">Play again</button>
	</div>
</section>